@import "tailwindcss";
@import "aos/dist/aos.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html {
  color-scheme: light;
}

html,
body {
  font-family: var(--font-satoshi), sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  background: var(--background);
  color: var(--foreground);
}
